
.event-list-container {
  padding: 20px;
}

.event-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.event-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

mat-card-actions {
  justify-content: flex-end;
}
